body {
    background: linear-gradient(135deg, #ce82de 0%, #a2d3ea 100%);
    color: #000000;
  font-family: Arial, sans-serif;
  }
  
  h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;
  }


  h4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    border: 0px solid #060606;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button.login-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button.login-button:hover {
    background-color: #3e8e41;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #070505;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: blue;
  }